<footer>
	<div class="container">
    	<ul class="fnav">
        	<li class="wow animated fadeInUp">
            	<h2>Product</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Natural Language Search</a></li>
                	<li><a href="#">Genius Insights</a></li>
                	<li><a href="#">Automated Machine Learning</a></li>
                	<li><a href="#">Data Preparation</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInUp">
            	<h2>Solutions</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Financial Services</a></li>
                	<li><a href="#">Insurance</a></li>
                	<li><a href="#">Retail</a></li>
                	<li><a href="#">Healthcare</a></li>
                	<li><a href="#">Communications</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInUp">
            	<h2>Resources</h2>
                <ul>
                	<li><a href="#">Overview</a></li>
                	<li><a href="#">Webinars</a></li>
                	<li><a href="#">On-Demand Demo</a></li>
                	<li><a href="#">Free Trial</a></li>
                	<li><a href="#">Blog</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInUp">
            	<h2>Company</h2>
                <ul>
                	<li><a href="#">About Us</a></li>
                	<li><a href="#">Contact</a></li>
                </ul>
            </li>
        	<li class="wow animated fadeInUp">
            	<h2>Conect</h2>
                <ul class="f-social-list">
                	<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
                	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </li>
        </ul>
    </div>
<div class="f-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-5 col-xl-5 col-md-6">
            <p class="copyright"><img src="assets/images/f-logo-icon.png" class="img-fluid" alt=""> Copyright <script> var d = new Date(); var dy = d.getFullYear(); document.write(dy);</script> Social Media Analysis</p>
            </div>
        	<div class="col-lg-7 col-xl-7 col-md-6">
            <p class="f-bot-nav"><a href="#">Privacy Policy</a><a href="mailto:contact@socialmediaanalysis.com">contact@socialmediaanalysis.com</a></p>
            </div>
        </div>
    </div>

</div>
</footer>
<%- include('end.ejs') %>