<%- include('./includes/head.ejs') %>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h1 class="login-heading mb-4 text-center">Welcome to Node Mysql Auth System</h1>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="/login" class="btn btn-lg btn-success btn-block btn-login text-uppercase font-weight-bold mb-2">Login</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="/signup" class="btn btn-lg btn-warning btn-block btn-login text-uppercase font-weight-bold mb-2">Sign up</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('./includes/end.ejs') %>